.calendar {
  position: relative;
  width: 1200px;
  max-width: 100%;
  margin: 100px auto;
}

.calendar * {
  font-family: 'Montserrat', sans-serif;
}

.calendar__year {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.calendar__month {
  position: relative;
  z-index: 1;
  padding: 30px 20px;
  width: 33.333%;
  background: #FFFEF2;
}

.calendar__month::after {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: rgba(0,0,0,.05);
}

.calendar__month_active::after {
  display: none;
}

.calendar__month:not(.calendar__month_active) * {
  color: #BDBDBD;
}

.calendar__month:not(.calendar__month_active) .datepicker--cell-content {
  /* display: none; */
  opacity: .1;
}

.calendar__date {
  display: block;
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: 600;
  color: #005AA0;
}

.calendar__events {
  display: none;
  position: absolute;
  z-index: 3;
  left: 60%;
  top: 60%;
  width: 336px;
  max-width: 100vw;
  padding: 16px 20px 24px;
  background: #EDEDED;
  border-radius: 10px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
  transition: all .3s;
  margin: 50px 0 0 50px;
}

.calendar__events ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.calendar__controls {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 43px;
  transform: translateX(-50%);
  width: 340px;
  max-width: 100vw;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar__btn {
  width: 37px;
  height: 14px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: all .2s;
  background-image: url("data:image/svg+xml,%3Csvg width='37' height='16' viewBox='0 0 37 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1L1 8L8 15' stroke='%23BDBDBD'/%3E%3Cline x1='2' y1='8.5' x2='37' y2='8.5' stroke='%23BDBDBD'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
}

.calendar__btn:hover {
  opacity: .6;
}

.calendar__btn:focus {
  outline: none;
}

.calendar__btn_next {
  transform: scaleX(-1);
}

.event {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.event:last-child {
  margin-bottom: 0;
}

.event a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: all .2s;
  margin: 0 10px;
  padding-bottom: 3px;
}

.event a:hover {
  border-bottom-color: #FF9201;
}

.event__img {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.event__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
}

.datepicker {
  width: 100%;
  height: 410px;
  border: none;
  background: inherit;
}

.datepicker--nav {
  justify-content: center;
  pointer-events: none;
  border: none;
  padding: 0;
  height: 40px;
  white-space: nowrap;
}

.datepicker--nav-title {
  font-size: 18px;
  color: #000000;
}

.datepicker--nav-action {
  display: none;
}

.datepicker--days-names {
  margin: 0;
  height: 13.515%;
}

.datepicker--day-name {
  font-size: 14px;
  font-weight: 500;
  color: #979899;
  height: 100%;
  text-transform: none;
}

.datepicker--content {
  height: calc(100% - 40px);
  padding: 0;
}

.datepicker--body {
  height: 100%;
}

.datepicker--cells {
  height: 86.485%;
}

.datepicker--cell {
  position: relative;
  z-index: 1;
  height: 16%;
  font-size: 14px;
  font-weight: 500;
  transition: all .1s;
  background: none !important;
}

.datepicker--cell:hover {
  color: #FF9201;
}

.datepicker--cell.-current- {
  color: currentColor;
}

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current- {
  color: #FF9201;
  background: none;
  pointer-events: none;
}

.datepicker--cell.-focus-:hover {
  background: none;
}

.datepicker--cell.-current-:hover {
  color: #FF9201;
}

.datepicker--cell.-disabled- {
  color: #E0E0E0;
  pointer-events: none;
}
.datepicker--cell.-event- {
  z-index: 3;
}
/*
.datepicker--cell.-event-::before {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 32px;
  height: 32px;
  content: '';
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #FF9201;
}

.datepicker--cell.-event-.-event--two-::before {
  box-shadow:
    0 0 0 2px #FF9201,
    4px 0 0 1px #FFFEF2,
    5px 0 0 2px #FFC531;
}

.datepicker--cell.-event-.-event--alot-::before {
  box-shadow:
    0 0 0 2px #FF9201,
    4px 0 0 1px #FFFEF2,
    5px 0 0 2px #FFC531,
    9px 0 0 1px #FFFEF2,
    10px 0 0 2px #FFC531;
} */

.datepicker--cell-event {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 32px;
  height: 32px;
  content: '';
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #FF9201;
  font-size: 0;
  pointer-events: none;
}

.datepicker--cell-event:nth-child(2) {
  width: 34px;
  height: 34px;
  margin-left: 4px;
  z-index: -2;
  background: transparent;
  box-shadow:
    0 0 0 1px #FFC531;
}

.datepicker--cell-event:nth-child(3) {
  width: 34px;
  height: 34px;
  margin-left: 8px;
  z-index: -2;
  background: transparent;
  box-shadow:
    0 0 0 1px #FFC531;
}

/* .datepicker--cell-event:nth-child(1n + 3):not(.datepicker--cell-event) {
  display: none;
} */

.datepicker--cell-event[data-duration="2"]::before {
  position: absolute;
  z-index: -2;
  left: -1px;
  top: -1px;
  height: calc(100% + 2px);
  width: calc(260% + 2px);
  background: transparent;
  content: '';
  box-shadow:
    0 0 0 1px #FFC531;
  border-radius: 50px;
}
